// Override Syntax Highlighting In Minima With the Dracula Theme: https://draculatheme.com/
// If you wish to override any of this CSS, do so in _sass/minima/custom-styles.css
 
$dt-gray-dark: #d7d5c9;  // Background
$dt-code-cell-background: #d9d9ff;
$dt-gray: #bbb8a5;       // Current Line & Selection
$dt-gray-light: #07070d; // Foreground
$dt-blue: #9d8d5b;       // Comment
$dt-cyan: #741602;
$dt-green: #af0584;
$dt-orange: #004793;
$dt-pink: #008639;
$dt-purple: #426c06;
$dt-red: #00aaaa;
$dt-yellow: #0e0573;
$dt-green-light: #531a6e;

.language-python + .language-plaintext {
    border-left: 1px solid grey;
    margin-left: 1rem !important;
}

// ensure dark background for code in markdown
[class^="language-"]:not(.language-plaintext) pre,
[class^="language-"]:not(.language-plaintext) code {
    background-color: $dt-code-cell-background !important;
    color: $dt-gray-light;
}

.language-python + .language-plaintext code { background-color: white !important; }
.language-python + .language-plaintext pre  { background-color: white !important; }

// for Jupyter Notebook HTML Code Cells modified from https://www.fast.ai/public/css/hyde.css

.input_area pre, .input_area div {
    margin-bottom:1.0rem !important;
    margin-top:1.5rem !important;
    padding-bottom:0 !important;
    padding-top:0 !important;
    background: $dt-code-cell-background !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
//    font-family: Menlo, Monaco, Consolas, "Lucida Console", Roboto, Ubuntu, monospace;
    border-radius: 5px;
    font-size: 115%;
}
.output_area pre, .output_area div {
    margin-bottom:1rem !important;
    margin-top:0rem !important;
    padding-bottom:0 !important;
    padding-top:0 !important;
}
.input_area pre {
    border-left: 1px solid rgb(128, 240, 128);
}
.output_area pre {
    border-left: 1px solid grey;
    margin-left: 1rem !important;
    font-size: 16px;
}

.code_cell table { width: auto; }

/* Dracula Theme v1.2.5
 *
 * https://github.com/zenorocha/dracula-theme
 *
 * Copyright 2016, All rights reserved
 *
 * Code licensed under the MIT license
 *
 */

.highlight {
    background: $dt-code-cell-background !important;
    color: $dt-gray-light !important;
    pre, code {
     background: $dt-code-cell-background;
     color: $dt-gray-light;
     font-size: 110%;
    }
   
    .hll,
    .s,
    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .se,
    .sh,
    .si,
    .sx,
    .sr,
    .s1,
    .ss {
         color:#186685;
    }
  
    .go {
      color: $dt-gray;
    }
  
    .err,
    .g,
    .l,
    .n,
    .x,
    .ge,
    .gr,
    .gh,
    .gi,
    .gp,
    .gs,
    .gu,
    .gt,
    .ld,
    .no,
    .nd,
    .pi,
    .ni,
    .ne,
    .nn,
    .nx,
    .py,
    .w,
    .bp {
      color: $dt-gray-light;
      background-color: $dt-code-cell-background !important;
    }
 
    .p {
         font-weight: bold;
         color: #992610;
 }
  
    .ge {
      text-decoration: underline;
    }
  
    .bp {
      font-style: italic;
    }
  
    .c,
    .ch,
    .cm,
    .cpf,
    .cs {
      color: $dt-blue;
    }

    .c1 {
      color: gray;
    }
  
    .kd,
    .kt,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
      color: $dt-cyan;
    }
  
    .kd,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
      font-style: italic;
    }
  
    .fm,
    .na,
    .nc,
    .nf
     {
      color: $dt-green-light;
    }
  
    .k,
    .o,
    .cp,
    .kc,
    .kn,
    .kp,
    .kr,
    .nt,
    .ow {
      color: $dt-pink;
    }
 
    .kc {
         color: $dt-green-light;   
    }
  
    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .mo,
    .il {
      color: $dt-purple;
    }
  
    .gd {
      color: $dt-red;
    }
}

p code{
  font-size: 19px;
}
